# Dependencies
/node_modules

# Build directory
/.next/

# Production build
/out/

# Static exports
/build/

# Environment variables
.env*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

